.reviewsTabContainer {
    display: flex;
    gap: 40px;
}

.reviews {
    flex: 1;
    padding: 12px 0;
}

.reviewList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.reviewItem {
    margin-bottom: 44px;
}

.reviewItem:last-child {
    border-bottom: none;
}
