.featureIcon {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px 18px;
    background-color: var(--color-badges);
    border-radius: 999px;
}

.icon {
    width: 20px;
    height: 20px;
    stroke: var(--color-main);
    margin-right: 8px;
}

.featureName {
    font-weight: 500;
    color: var(--color-main);
}
