.truckListContainer {
    padding: 48px 64px 48px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.truckList {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 32px;
    padding: 0;
    margin: 0;
}

.loadMoreButton {
    margin-top: 40px;
    max-width: 166px;
}
