.truckInfo {
    margin-bottom: 60px;
    padding: 0;
}

.name {
    font-size: 24px;
    line-height: 1.333;
    font-weight: 600;
    color: var(--color-main);
    margin-bottom: 8px;
}

.ratingAndLocationWrapper {
    display: flex;
    padding: 0;
    gap: 16px;
    margin-bottom: 16px;
}

.price {
    font-size: 24px;
    line-height: 1.333;
    font-weight: 600;
    color: var(--color-main);
    padding: 0;
    margin-bottom: 28px;
}

.gallery {
    display: flex;
    gap: 48px;
    margin-bottom: 28px;
}

.thumbnail {
    width: 292px;
    height: 312px;
    border-radius: 10px;
    object-fit: cover;
}

.description {
    color: var(--color-text);
}

