.detailsContainer {
    padding: 48px 64px;
}

.tabs {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 44px;
}

.tab {
    padding-bottom: 24px;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-main);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
}

.activeTab {
    border-bottom: 5px solid var(--color-button);
    text-decoration: none;
    color: var(--color-main);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
}

.tabContent {
    margin-top: 20px;
}
